@font-face {
  font-family: MyHelvetica;
  src: local("Monospace"),
       local("Monaco"),
  font-weight: bold;
}

pre, td {
    font-family: 'Monaco', 'Inconsolata' !important;
    font-size: 13px !important;
}
