@font-face {
    font-family: MyHelvetica;
    src: local("Monospace"),
         local("Monaco"),
    font-weight: bold;
}

pre,
td,
.tree-holder,
.file-content,
code {
    /*
	* github -> pre, td
	* gitlab -> .tree-holder, file-content, code
	*
	* */
    font-family: 'Monaco', 'Inconsolata' !important;
    font-size: 13px !important;
}
